#event_top {
  width: 100%;
  height: 528px;
 
  margin: 0 auto;
  background: url(../images/event_top_bg.jpg) no-repeat center;
  background-size: cover;

}

#event_top div.box {
  width: 100%;
  height: 528px;
  /* background: rgba(0, 0, 0, 0.6); */

  display: flex;
  justify-content: center;
  align-items: center;
}

#event_top div.box h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #fff;
  line-height: 1;
  text-align: center;

  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


#event_top div.box h2 span {
  font-family: 'Palatino Linotype';
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0px;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}



/* 3000원 할인 이벤트 영역 */

#title {
  width: 1100px;
  height: 240px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 105px;
  text-align: center;
}

#title h6 {
  font-size: 20px;
  color: #222;
  letter-spacing: -1px;
  padding: 76px 0 15px 0;
}

#title h2 {
  font-size: 40px;
  color: #222;
  letter-spacing: -2px;
}


#title h5 {
  font-size: 18px;
  color: #de1d24;
  letter-spacing: -1px;
  padding-top: 15px;
}


#main {
  width: 1100px;
  height: auto;
  /* background: palegoldenrod; */
  margin: 0 auto;
  text-align: center;
}

#main p.btn1,
#main p.btn2 {
  width: 470px;
  height: 80px;
  background: #de1d24;
  border-radius: 30px;

  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 100px;
}

#main p.btn2 {
  background: #232323;
}

#main p.btn1 a,
#main p.btn2 a {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #fff;
  line-height: 80px;
  display: block;
}

#main p.line {
  width: 1100px;
  height: 1px;
  background: #ccc;
}

#main p.txt {
  text-align: left;

  padding-left: 150px;
  padding-top: 60px;

  font-size: 20px;
  letter-spacing: -1px;
  color: #222;
  line-height: 2;
}

#main p.txt span {
  font-weight: bold;
  color: #de1d24;
  padding-left: 10px;
}




/* ======== app 다운받기 팝업 ======== */

#app_popup {
  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

#app_popup div.pop {
  width: 930px;
  height: 700px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: show;
  animation-duration: 1.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#app_popup div.pop p.btn i {
  color: #000;
  font-size: 30px;

  position: absolute;
  top: 40px;
  right: 60px;

  cursor: pointer;
}

#app_popup div.pop p.logo {
  width: 145px;
  height: 145px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 8px #999;

  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}


#app_popup div.pop p.logo img {
  width: 90px;
  padding-top: 26px;
}


#app_popup div.pop h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1.7px;
  padding-top: 60px;
  padding-bottom: 75px;
}

#app_popup div.pop p.txt {
  text-align: center;
  font-size: 22px;
  padding-bottom: 60px;
  line-height: 2;
}

#app_popup div.pop p.btn1,
#app_popup div.pop p.btn2 {
  width: 275px;
  height: 85px;
  border-radius: 20px;
  background: #000;
  text-align: center;

  position: absolute;
  bottom: 60px;
}

#app_popup div.pop p.btn1 {
  left: 160px;
}

#app_popup div.pop p.btn2 {
  right: 160px;
}

#app_popup div.pop p.btn1 a,
#app_popup div.pop p.btn2 a {
  line-height: 85px;
}

#app_popup div.pop p.btn1 img,
#app_popup div.pop p.btn2 img {
  width: 240px;
  line-height: 85px;
}