#franchise-top {
    width: 100%;
    height: 528px;
    margin: 0 auto;
    background: url(../images/franchise_top_bg.jpg) no-repeat center;

    background-size: cover;
}

#franchise-top div.box {
    width: 100%;
    height: 528px;
    /* background: rgba(0, 0, 0, 0.6); */

    display: flex;
    justify-content: center;
    align-items: center;
}

#franchise-top div.box h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
    line-height: 1;
    text-align: center;

    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


#franchise-top div.box h2 span {
    font-family: 'Palatino Linotype';
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0px;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* 버튼 영역  */
#franchise-btn {
    width: 1100px;
    /* height: 110px; */
    height: 176px;
    /* background: palegoldenrod; */
    margin: 0 auto;
}

#franchise-btn ol {
    font-size: 15px;
    letter-spacing: -1px;
    color: #999;
    padding: 40px 0;
    display: flex;
}

#franchise-btn ol li {
    font-weight: bold;
}

#franchise-btn ol li:nth-child(1){
    color: #222;
}

#franchise-btn ol img {
    width: 13px;
    margin-bottom: 4px;
}


#franchise-btn ul {
    display: flex;
}

#franchise-btn ul li a {
    display: block;

    width: calc(1100px/5);
    height: 75px;
    background: #fff;
    /* border-top: 1px solid #e2e2e2; */
    border-bottom: 3px solid #e2e2e2;
    /* border-left: 1px solid #e2e2e2; */
    box-sizing: border-box;

    font-size: 20px;
    font-weight: bold;
    color: #888;
    letter-spacing: -2px;

    text-align: center;
    line-height: 75px;

}

#franchise-btn ul li:nth-child(1) a {
    border-bottom: 3px solid #de1d24;
    /* background: #de1d24; */
}

#franchise-btn ul li:nth-child(1) a {
    color: #222;
}

/* #menu-btn ul li:last-child a {
    border-right: 1px solid #e2e2e2;
} */

#franchise-btn ul li:hover a {
    border-bottom: 3px solid #de1d24;
    /* background: #de1d24; */
}

#franchise-btn ul li:hover a {
    color: #222;
}



/* 메인 영역  */
#main{
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/* ==============인테리어 영역============== */

#franchise-in-txt {
    margin: 120px auto;
    width: 1100px;
    height: 50px;
    /* background: #999; */
    position: relative;
}

#franchise-in-txt p.box {
    display: block;
    width: 9px;
    height: 35px;
    background: #222;
}

#franchise-in-txt h2 {
    font-size: 30px;
    color: #222;
    letter-spacing: -1px;

    position: absolute;
    top: -3px;
    left: 25px;
}

#wrap-franchise-in {
    width: 100%;
    height: 1400px;
    background: #fdfaf3;
    margin: 0 auto;
}

#franchise-in {
    width: 1100px;
    height: 1400px;
    background: #fdfaf3;
    margin: 0px auto;

    position: relative;
}




#franchise-in p.img1 img {
    width: 1100px;
}

#franchise-in p.img2 img {
    width: 640px;
    height: 440px;
}

#franchise-in p.img3 img {
    width: 440px;
    height: 440px;

}




#franchise-in p.img1 {
    position: absolute;

    top: 100px;
}

#franchise-in p.img2 {

    position: absolute;

    top: 850px;
}

#franchise-in p.img3 {
    position: absolute;

    top: 850px;
    left: 660px;
}

#franchise-in div.box {
    width: 500px;
    height: 350px;
    background: rgba(0, 0, 0, 0.6);

    position: absolute;

    top: 160px;
    right: 0;

    text-align: right;

    padding-right: 52px;
    box-sizing: border-box;
}

#franchise-in div.box h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'BMJUA';
    font-weight: normal;
    letter-spacing: 1.5px;

    padding-top: 50px;
}

#franchise-in div.box p.txt1 {
    font-size: 25px;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 15px;
}

#franchise-in div.box p.txt2 {
    font-size: 20px;
    color: #fff;
    letter-spacing: -1px;
    line-height: 1.8;
    padding-top: 45px;
}

/* ==============익스테리어 영역============== */

#franchise-ex {
    width: 1100px;
    height: 1530px;
    /* background: paleturquoise; */
    margin: 100px auto;

    position: relative;
}

#franchise-ex h2 {
    font-size: 50px;
    color: #222;
    font-family: 'BMJUA';
    font-weight: normal;
    letter-spacing: 1.5px;
}

#franchise-ex p.txt1 {
    font-size: 25px;
    color: #222;
    letter-spacing: -1px;
    padding-top: 15px;
}

#franchise-ex p.txt2 {
    font-size: 20px;
    color: #222;
    letter-spacing: -1px;
    line-height: 1.8;
    padding-top: 45px;
}

#franchise-ex p.img1 {
    position: absolute;
    top: 25px;
    right: 20px;
}

#franchise-ex p.img2 {
    position: absolute;
    top: 320px;
    left: 0px;
}

#franchise-ex p.img3 {
    position: absolute;
    top: 320px;
    right: 0;
}

#franchise-ex p.img4 {
    position: absolute;
    top: 870px;
    right: 0;
}

#franchise-ex p.img2 img {
    width: 650px;
    height: 530px;
}

#franchise-ex p.img3 img {
    width: 430px;
    height: 531px;
}

#franchise-ex p.img4 img {
    width: 1100px;
}



/* ==============창업절차 영역============== */

#franchise-1-txt {

    width: 1100px;
    height: 150px;
    /* background: #f2f2f2; */
    margin: 0 auto;
    margin-top: 200px;

    position: relative;
}

#franchise-1-txt p.box {
    display: block;
    width: 9px;
    height: 35px;
    background: #222;
}

#franchise-1-txt h2 {
    font-size: 30px;
    color: #222;
    letter-spacing: -1px;

    position: absolute;
    top: -3px;
    left: 25px;
}

#franchise-1-txt p.txt {
    font-size: 22px;
    color: #222;
    letter-spacing: -1px;

    position: absolute;
    top: 50px;
    left: 25px;
}


#wrap-franchise-1 {
    width: 100%;
    height: 1480px;
    background: #fffbfb;
}

#franchise-1 {
    width: 1100px;
    height: 1480px;
    background: #fffbfb;
    margin: 0 auto;

    position: relative;
}

#franchise-1 p.icon {
    text-align: center;
    padding-top: 100px;
}

#franchise-1 ul li {
    width: 235px;
    height: 130px;
    /* background: #fff; */

    text-align: center;

}

#franchise-1 ul li h4 {
    font-size: 22px;
    color: #c51f22;
    /* letter-spacing: -1px; */
    font-family: 'Arial';
}

#franchise-1 ul li h5 {
    font-size: 20px;
    color: #333;
    letter-spacing: -1px;
    padding-top: 10px;
    line-height: 1.5;
}

#franchise-1 ul li h6 {
    font-size: 15px;
    color: #333;
    letter-spacing: -1px;
    padding-top: 18px;
    line-height: 1.8;
}

#franchise-1 ul li:nth-child(1) {
    position: absolute;
    top: 320px;
    left: 120px;
}

#franchise-1 ul li:nth-child(2) {
    position: absolute;
    top: 320px;
    left: 432px;
}

#franchise-1 ul li:nth-child(3) {
    position: absolute;
    top: 320px;
    left: 745px;
}


#franchise-1 ul li:nth-child(4) {
    position: absolute;
    top: 775px;
    left: 120px;
}

#franchise-1 ul li:nth-child(5) {
    position: absolute;
    top: 775px;
    left: 432px;
}

#franchise-1 ul li:nth-child(6) {
    position: absolute;
    top: 775px;
    left: 745px;
}

#franchise-1 ul li:nth-child(7) {
    position: absolute;
    top: 1230px;
    left: 120px;
}

#franchise-1 ul li:nth-child(8) {
    position: absolute;
    top: 1230px;
    left: 432px;
}

#franchise-1 ul li:nth-child(9) {
    position: absolute;
    top: 1230px;
    left: 745px;
}


/* ==============개설비용 영역============== */

#franchise-2 {

    width: 1100px;
    height: 3500px;
    /* background: pink; */
    margin: 0 auto;
    margin-top: 200px;

    position: relative;

}

#franchise-2 p.box {
    display: block;
    width: 9px;
    height: 35px;
    background: #222;
}

#franchise-2 h2 {
    font-size: 30px;
    color: #222;
    letter-spacing: -1px;

    position: absolute;
    top: -3px;
    left: 25px;
}

#franchise-2 h4 {
    font-size: 22px;
    color: #232323;
    letter-spacing: -1px;

    padding: 120px 0 30px 50px;
}

#franchise-2 table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;

}

#franchise-2 table tr td {
    border: 1px solid #d9d9d9;
}

#franchise-2 table tr td {
    font-size: 15px;
    color: #222;
    letter-spacing: -1px;
    background: #fff;
    line-height: 1.7;
}

#franchise-2 table tr td.tit-txt {
    background: #f8f8f8;
}

#franchise-2 table tr td.left {
    text-align: left;
    padding-left: 20px;
}

#franchise-2 table tr.tit td {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;

    background: #232323;
}

/* 토탈금액 */
#franchise-2 p.total {
    width: 1004px;
    height: 70px;
    background: #de1d24;
    margin: 0 auto;
    margin-top: 30px;
    padding-right: 20px;
    box-sizing: border-box;

    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #fff;

    line-height: 70px;
    text-align: right;
}

#franchise-2 p.total span {
    font-size: 15px;
    padding-left: 10px;
}

#franchise-2 ul {
    width: 890px;
    height: 190px;
    border: 1px solid #d9d9d9;

    margin: 0 auto;
    margin-top: 55px;

    display: flex;
}

#franchise-2 ul li:first-child {
    width: 260px;
    height: 190px;
    /* background: #fff; */

    line-height: 190px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #222;
}

#franchise-2 ul li:last-child {
    width: 630px;
    height: 190px;
    /* background: #ddd; */
    padding-top: 35px;
    padding-left: 30px;
    box-sizing: border-box;

    font-size: 15px;
    letter-spacing: -1px;
    color: #222;

    line-height: 2;

}