
#login {
    width: 1000px;
    height: 1550px;
    /* background:#fdfaf3; */

    margin: 0 auto;
    text-align: center;
}

#login h2 {
font-size: 50px;
letter-spacing: -1px;
color: #222;
padding: 180px 0 80px 0;
}


#login h4 img {
    vertical-align: middle;
}

    
fieldset {
    width: 685px;
    margin: 0 auto;
    border: 0;

    /* border: 1px solid red; */
}

input[type="text"],
input[type="password"] {
    width: 630px;
    height: 70px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 28px;
    box-sizing: border-box;

    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

::placeholder {
    color: #999;
}



input[type="checkbox"] {
    width: 20px;
    height: 20px;

    display: inline-block;
    vertical-align: middle;

    display: none;
}

input[type="checkbox"] + label.btn {
    color: #ccc;
    font-size: 20px;
    vertical-align: middle;
    padding-right: 7px;
  
}

input[type="checkbox"]:checked + label.btn {
    color:#555;
}


fieldset li:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #555;

    text-align: left;

    /* padding-top: 18px; */
    padding-left: 30px;
}


input[type="submit"] {
    width: 630px;
    height: 80px;
    margin-top:40px;

    background: #e21f26;
    border: 0;

    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;

    border-radius: 10px;

    cursor: pointer;
}

#login p.txt {
    padding-top: 50px;
    padding-bottom: 150px;
}

#login p.txt a{
    font-size: 20px;
    color: #666;
    letter-spacing: -1px;
}

#login p.txt a:hover {
    color: #000;
}

#login p.txt span {
    width: 1px;
    height: 20px;
    background: #d6d6d6;
    display: inline-block;
    vertical-align: middle;

    margin: 0 20px;
}

#login p.banner {
    cursor: pointer;

    padding-top: 120px;
}




#login ul.sns li {
    width: 630px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;

    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 10px;
}

#login ul.sns li:hover a {
    font-weight: bold;
}


#login ul.sns li a {
    font-size: 25px;
    letter-spacing: -1px;
    color: #222;
    line-height: 80px;

    display: block;
}

#login ul.sns li a img{
    padding-bottom: 10px;
 }
 